body {
    background-color: grey;
}

.thumbnail {
    max-width: 50%;
    height: auto;
  }

  h4 {
      text-align: center;
  }

  .sub_page_h1 {
    text-align: center;
  }

h1 {
    padding: 30px;
}

h3 {
    padding: 10px;
}